
h1 {
  text-align: center;
  color: #777;
}

form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 100px auto;
}
form label {
      margin-top: 20px;
  }

form input, select{
      font-size:1.2em;
  }
  
form .error {
      color: red;
      font-size: .6em;
  }

form textarea {
      height: 150px;
      padding: 5px;
  }

form button {
  background: #1997BF;
  padding: 10px;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1.2em;
}

.dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

@media screen and (max-width: 1280px) {
  .dates {
  display: flex;
  flex-direction: column;
}
}

.start-date {
  margin-top: 20px;
  width: 215px;
}
.end-date {
  margin-top: 20px;
  width: 215px;
}



